:root{
     --white-grey:#E2E2E2;
     --light-brown:#707070;
}
html{
    box-sizing: border-box;
}
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right,DeepSkyblue,PaleGreen,#008bfd,Greenyellow,#0048ce);
    background-size: 1000% 1000%;
    background-position: 0% 50%;
    animation:anime 60s linear 0s infinite;
}
body .inputbx{
    background: #1c1E21;
    position: relative;
    padding: 60px 40px;
    border-radius: 8px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    box-shadow: 0 15px 20px rgba(0,0,0,0.15);

}
.inputbx .EmailBox{
    width: 80%;
    padding: 10px 40px;
    position: relative;
    
}
.inputbx #hidden{
    display: none;
}
.EmailBox input{
    color: var(--white-grey);
    font-weight: bolder;
    width: none;
    border: none;
    outline: none;
    height: 35px;
    font-size: 14px;
    padding: 20px 5px;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--white-grey);
    background-color: transparent;
}
.EmailBox input::placeholder{
    font-size: 10px;
    font-weight: bolder;
}
.EmailBox label{
    font-size: 16px;
    padding-top: 30px;
    margin-right: 10px;
    font-weight: bolder;
    color: var(--light-brown);
}
.EmailBox button{
    position: absolute;
    right: 0;
    top: 45px;
    padding: 4px;
    border: none;
    outline: none;
    border-radius: 2px;
    color: var(--white-grey);
    border: 1px solid var(--white-grey);
    background: transparent;
    margin-left: 10px;
    display: none;
}
.EmailBox button:hover{
    color: #333;
    background:var(--white-grey);
}
.inputbx .generate{
    position: absolute;
    bottom: 20px;
    left: 20%;
    color: var(--white-grey);
    outline: none;
    font-size: 10px;
    font-weight: bolder;
    margin-top: 10px;
    border-radius: 2px;
    padding: 4px 10px;
    background: linear-gradient(
        -135deg,
        #0048ce,
        #008bfd
    );
}
.inputbx h3{
    position: relative;
    bottom: 20px;
    color: var(--light-brown);
}
@keyframes anime{
    50%{
        background-position: 100% 50%;
    }
}